 <!-- html page for displaying data from database  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Events</title>
</head>
<body>
        <h1>
        List of Events
        </h1>
        {% for event in event %}
        Event's Name : {{event.event_name}} <br>
        Event's Venue : {{event.venue}} <br>
        Event's Date: {{event.event_date}}<br>
        Event's Manager: {{event.manager}}<br>
        <a href="edit/{{event.id}}">Edit this</a> <br> <br>

        
        ======================================== <br>
        {% empty %}
            There are no Events available.
        {% endfor %}
    </form> 
</body>
</html>

