{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="sidenav">
        <div class="login-main-text">
           <h2>Application<br> Sign Up Page</h2>
           <p>Sign Up Your Account Here.</p>
        </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form method="POST">
                {% csrf_token %}
                 <div class="form-group">
                    <label>Enter New Username</label>
                    <input type="text" class="form-control" placeholder="User Name" name="username">
                 </div>
                 <div class="form-group">
                    <label>Enter Your Email</label>
                    <input type="email" class="form-control" placeholder="Your Email" name="email">
                 </div>
                 <div class="form-group">
                    <label>Enter New Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="pwd">
                 </div>
                 <button type="submit" class="btn btn-black">Sign Up</button>

              </form>
           </div>
        </div>
        
     </div>
</body>
</body>
</html>